@import url('https://fonts.googleapis.com/css?family=Titillium+Web:regular,bold,italic&subset=latin,latin-ext');

body{
  color: white;
  scroll-behavior: smooth;
  overflow: auto;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  padding-top: 2rem;
}

